@import url('https://fonts.googleapis.com/earlyaccess/jejuhallasan.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html, body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 0;
}

header, .navbar {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.navbar {
    flex: 0 0 50px;
    background-color: #4C9FC4;
    align-items: center;
    justify-content: center;
    border: none !important;
}

.app-name {
    font-family: 'Jeju Hallasan', cursive;
    text-align: center;
    font-size: 20px;
}

#three-canvas {
    flex-grow: 1;
    width: 80%;
    height: calc(100vh - 50px - 40px);
    display: block;
}

#toggleView, .control-button {
    position: absolute;
    bottom: 45px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: #4C9FC4;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#toggleView:hover, .control-button:hover {
    transform: scale(1.1);
}

#toggleView {
    right: 20px;
}

#rotateLeft {
    left: 20px;
}

#rotateRight {
    right: 80px;
}

footer {
    flex: 0 0 40px;
    font-family: cursive;
    text-align: center;
    background-color: #4C9FC4;
    padding: 8px;
}
